# Database Configuration
DB_URL = "postgresql://<user>:<password>@<host>:5432/database?schema=public"
DIRECT_URL = "postgresql://<user>:<password>@<host>:5432/database"
DB_DIALECT = postgres

#API Keys
API_PORT = 3000
SECRET = "your-jwt-secret"

ORGANIZATION_INVITE_SECRET="secret-key-to-encript-invites"

# SUPABASE CONFIG
SUPABASE_URL="https://<bucket-key>.supabase.co"
SUPABASE_KEY="supabase-key"
SUPABASE_BUCKET="image-bucket"